<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/tailwind.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Battleships</title>
  </head>
  <body class="bg-gray-900">
    <div class="max-w-5xl mx-auto">
      <div id="board" class="">
        <div class="bg-gray-900 p-4 flex justify-between align-middle">
          <div
            id="user-grid"
            class="flex flex-wrap p-4"
            style="width: 400px"
          ></div>
          <div id="opponent-grid" class="p-4 w-96"></div>
        </div>

        <div class="bg-gray-900 p-4 grid grid-rows-4">
          <div
            id="message-output"
            class="col-span-4 bg-gray-800 row-span-1 mb-4"
            style="color: #39ff14"
          ></div>
          <div id="hud" class="row-span-3 grid grid-cols-6">
            <div
              id="ships-container"
              class="ships bg-gray-900 flex justify-between"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="scripts/game.js"></script>
  </body>
</html>
