<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/tailwind.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Battleships</title>
  </head>
  <body class="bg-gray-900">
    <div class="max-w-6xl mx-auto">
      <div id="board" class="p-5">
        <button id="multiplayer-button">Multiplayer</button>
        <div class="bg-gray-900 flex justify-between align-middle">
          <div>
            <div class="player p1 mb-4" style="color: #39ff14">
              <div class="text-xl">Player 1</div>
              <div class="connected text-sm">Connected <span></span></div>
              <div class="ready text-sm">Ready <span></span></div>
            </div>
            <div
              id="user-grid"
              class="flex flex-wrap"
              style="width: 400px"
            ></div>
          </div>
          <div>
            <div class="player p2 mb-4" style="color: #39ff14">
              <div class="text-xl">Player 2</div>
              <div class="connected text-sm">Connected <span></span></div>
              <div class="ready text-sm">Ready <span></span></div>
            </div>
            <div id="opponent-grid" class=""></div>
          </div>
        </div>

        <div class="bg-gray-900">
          <div
            id="message-output"
            class="bg-gray-800 mb-4 mt-4"
            style="color: #39ff14"
          ></div>
          <div id="hud" class="">
            <div
              id="ships-container"
              class="ships flex bg-gray-900 justify-center"
            ></div>
            <button id="start-button">Start</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/game.js"></script>
  </body>
</html>
