.exploded {
  background-color: red;
}

#message-output {
  color: "#39FF14" !important;
  font-size: 40px;
}

.ship {
  margin-left: 20px;
}

#ships-container {
  background-color: black;
  padding: 2rem;
}
